<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: #444444;
            color: #fff;
        }

        button {
            background-color: black;
            width: 20%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password],
        input[type=number] {
            width: 50%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid orange;
            box-sizing: border-box;
            outline: none;
        }

        button:hover {
            opacity: 0.7;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            margin: 10px 5px;
        }


        .container {
            padding: 25px;
            background-color: rgb(24, 82, 176);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <center>
        <h1> Login Form </h1>
    </center>
    <form action='/login' method="POST">
        <div class="container">
            <label for="loginId">Username or Email : </label>
            <input type="text" placeholder="Enter Email or Username" name="loginId" required>
            <label for="password">Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
    <div style="display: flex; justify-content: space-evenly;">
        <form method="GET" action="/forget-password" style="border: none;">
            <h4>Forgot your password?</h4>
            <button type="submit" style="width: 100%;">Reset Password</button>
        </form>
        <form method="GET" action="/resend-verification" style="border: none;">
            <h4>Do you want to verify your account?</h4>
            <button type="submit" style="width: 100%;">Verify Account</button>
        </form>
        <form method="GET" action="/register" style="border: none;">
            <h4>Don't have an account?</h4>
            <button type="submit" style="width: 100%;">Create Account</button>
        </form>
    </div>
</body>

</html>